<span>
  <%= render 'shared/gravatar_name_info', user: current_user %>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
