<form action="/" method="GET">
<input type="text" name="height">
<input type="text" name="weight">
<input type="submit" value="送信じゃあ">
</form>

<%# 確かめている %>
<%# <%= request["weight"] %>
<%# <%= request["height"] %>

<p>あなたのBMIは<%= bmi.round(2)%> なのら！</p>

 <p><% case bmi
     when 0..18 %>
    BMI低いからってニヤニヤしてんじゃね〜ZO！油断したらあっというまなんだよ！と
   ミサカはミサカはあなたを心配してみたりして！

   <% when 18..22 %>
 標準か。。うん。いいんじゃないかなｗ でもちょっと痩せてるくらいのほうがモテるYO

   <% when 22..100 %>
 肥満乙です！！ヘルシア飲んどけやあ！！
   <% else %>
 人外乙！満月になったら人を襲うからあんたには近寄らないよ！
 <% end %></p>
