<form action="/" method="GET">
<input type="text" name="height">
<input type="text" name="weight">
<input type="submit" value="送信じゃあ">
</form>
<%= request["weight"] %>
<%= request["height"] %>

 "あなたのBMIは<%= bmi %> なのら！"
