<form action="/" method="GET">
<input type="text" name="height">
<input type="text" name="weight">
<input type="submit" value="送信じゃあ">
</form>
<%= request["weight"] %>
<%= request["height"] %>

 "あなたのBMIは<%= bmi %> なのら！"

 <%= case bmi %>
   <% when 0..18 %>
   <%
   puts "BMI低いからってニヤニヤしてんじゃね〜ZO！油断したらあっというまなんだよ！と
   ミサカはミサカはあなたを心配してみたりして！"
   %>
   <% when 19..22 %>
   <%
puts "標準か。。うん。いいんじゃないかなｗ でもちょっと痩せてるくらいのほうがモテるYO"
%>
   <% when 23..100 %>
   <%
puts "肥満乙です！！ヘルシア飲んどけやあ！！"
   %>
   <% else %>
   <%
puts "人外乙！満月になったら人を襲うからあんたには近寄らないよ！"
   %>
 <% end %>
